[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
pymongo = "*"

[dev-packages]
pipenv-setup = "*"
build = "*"
bumpversion = "*"
twine = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
